{% extends 'base.html' %}

{% block title %}Agregar Productos - Administrador{% endblock %}

{% block content %}

<p>Esta es la página para agregar productos.</p>

<body>
  <!-- Main Content -->
  <div class="main-content">
    <h1>Agregar Producto</h1>
    <form action="/admin/agregar_producto" method="POST" class="form-proveedor">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" required>

      <label for="descripcion">Descripción:</label>
      <input type="text" id="descripcion" name="descripcion" required>

      <label for="cantidad">Cantidad:</label>
      <input type="int" id="cantidad" name="cantidad" required>

      <label for="categoria_id">Categoria:</label>
      <input type="int" id="categoria_id" name="categoria_id" required>

      <label for="proveedor_id">ID Proveedor:</label>
      <input type="int" id="proveedor_id" name="proveedor_id" required>

      <label for="ubicacion">Ubicación:</label>
      <input type="text" id="ubicacion" name="ubicacion" required>

      <button type="submit">Agregar</button>
      <a href="/admin/productos" class="btn-secondary">Cancelar</a>
    </form>
  </div>

{% endblock %}