{% extends 'base.html' %}

{% block title %}Usuarios - Administrador{% endblock %}

{% block content %}
<div class="contenedor">
    <div class="titulo">
        <h2>Gestionar Usuarios</h2>
    </div>
    <div class="contendio">
        <div>
            <button class="agregar" id="agregar-usuario" onclick="guardarUsuario()">Agregar usuario</button>
        </div>
        <div>
            <table class="tabla-usuarios" id="tabla">
                <thead class="tabla-cabecera" id="cabecera">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Nickname</th>
                        <th>Contraseña</th>
                        <th>Rol</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% if usuarios%}
                        {% for user in usuarios %}
                        <tr>
                            <td>{{ user.id_usuario }}</td>
                            <td>{{ user.nombre }}</td>
                            <td>{{ user.nickname }}</td>
                            <td>{{ user.contraseña }}</td>
                            <td>{{ user.rol }}</td>
                            <td>
                                <button class="editar-usuario" id="accion" onclick="editarUsuario('{{ user.id_usuario }}')">Editar</button>
                                <button class="eliminar-usuario" id="accion" oneclick="">Eliminar</button>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="6">No hay usuarios registrados</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}